uvicorn[standard]>=0.20.0
aiosqlite>=0.18.0
passlib>=1.7.4
soundevent[all]>=1.3.5
fastapi>=0.101.0
pydantic-settings>=2.0.2
fastapi-users[sqlalchemy]>=12.1.1
cachetools>=5.3.1
asyncache>=0.3.1
fastapi-pagination>=0.12.8
alembic>=1.13.0
bcrypt==4.0.1
colorama>=0.4.6
