---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Whombat.">
  <main>
    <div class="container mx-auto p-16">
      <h1 class="text-center text-6xl">
        Welcome to<br /><img
          src="whombat.svg"
          alt="logo"
          class="m-2 inline h-16"
        /><span
          class="font-sans font-bold text-emerald-500 underline decoration-8"
          >Whombat</span
        >
      </h1>
      <h2 class="text-center text-3xl text-stone-500 dark:text-stone-500">
        Audio annotation tool with ML in mind!
      </h2>
    </div>
  </main>
</Layout>
